<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metrics</title>
</head>
<body>
    <h1>Available metrics:</h1>
    <div>
        <h2>Metrics of type counter:</h2>
        {{if not .Counter}}
            <p>No metrics of type counter available</p>
        {{else}}
            <ul>
                {{ range $key, $val := .Counter }}
                <li><strong>{{ $key }} </strong>: {{ $val }}</li>
                {{ end }}
            </ul>
        {{end}}
    </div>
    <div>
        <h2>Metrics of type gauge:</h2>
        {{if not .Gauge}}
            <p>No metrics of type gauge available</p>
        {{else}}
            <ul>
                {{ range $key, $element := .Gauge }}
                    <li><strong>{{ $key }} </strong>: {{ $element }}</li>
                {{ end }}
            </ul>
        {{end}}
    </div>
</body>
</html>